.signInButton {
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--gray-850);
  border: 0;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--write);
  transition: filter 0.2s;

  svg {
    width: 20px;
    height: 20px;

    &:first-child {
      margin-right: 1rem;
    }

    &.closeIcon {
      margin-left: 1rem;
    }
  }

  svg &:hover {
    filter: brightness(0.8);
  }
}
